body {
  background-image: url(../images/y-so-serious.png);
}

.borderLad {
  border: 3px solid black;
}

.btn {
  margin-bottom: 10px;
}

.portfolioImage {
  margin: 10px;
  height:300px;
  width: 300px;
}

.aboutMeImage {
  height: 200px;
  width: 200px;
}

.image-text {
  text-align: center;
  background-color: #c89666;
  color: black;
  font-size: 20px;
  padding: 5px;
  width: 200px;
  position: absolute;
  bottom: 20px;
}

.newClass {
  margin-bottom: 60px;
  border: 1px;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
  text-align: center;
  background-color: #c89666;
  color: black;
  border-top: 5px solid white;
}

.navbar-brand {
  background-color: #c89666;
}

.navbar {
  padding-bottom: 0px;
}

#bigWords {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.notSoBigWords {
  font-family: Arial, Helvetica, sans-serif;
}

.portFolioText {
  font-size: 30px;
}

.list {
  list-style-type: none;
}

footer {
  position: relative;
  margin-top: 10px;
  bottom: 0;
}