body {
    background-image: url(../images/y-so-serious.png)
}

.borderLad{
    border: 3px solid black;
}

.btn{
    margin-bottom: 10px;
    background-color: #0049B7;
}

.portfolioImage{
    margin: 10px;
}

.image-text {
    text-align: center;
    background-color: #0049B7;
    color: white;
    font-size: 20px;
    padding: 5px;
    width: 200px;
    position: absolute;
    bottom: 20px;
}

.newClass{
    margin-bottom: 60px;
    border: 1px;
}

footer{
    position: fixed;
    width: 100%;
    bottom: 0px;
    text-align: center;
    background-color: #0049B7;
    color: white;
}

.navbar-brand{
    background-color: #0049B7;
}
