body {
    background-image: url(../images/y-so-serious.png)
}

.borderLad{
    border: 3px solid black;
}

.btn{
    margin-bottom: 10px;
}

.portfolioImage{
    margin: 10px;
}

.image-text {
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 5px;
    width: 200px;
    position: absolute;
    bottom: 20px;
}